$bp-tablet: 768px;
$bp-desktop: 1440px;

:root {
    /* Colors */
    --color-cyan-hover: #71C0D4;
    --color-purple-hover: #B18BDD;
    --color-cyan-600: hsl(192, 37%, 48%);
    --color-cyan-300: hsl(192, 90%, 77%);
    --color-purple-600: hsl(268, 34%, 53%);
    --color-purple-300: hsl(268, 100%, 86%);
    --color-slate-900: hsl(240, 21%, 20%);
    --color-slate-600: hsl(240, 10%, 57%);
    --color-slate-300: hsl(240, 18%, 85%);
    --color-white: hsl(0, 0%, 98%);

    /* Typography */
    --fs-h1: clamp(2.5rem, 6.25vw, 4rem);
    --fs-h2: clamp(2rem, 4.6875vw, 2.5rem);
    --fs-label: clamp(0.75rem, 1.822916vw, 1rem);

    --fs-body: clamp(1rem, 2vw, 1.125rem);
    --fs-base: 1rem;

    --lh-heading: 1.1;
    --lh-body: 1.5;

    --ls-label: 0.25rem;

    --font-primary: 'Red Hat Display', sans-serif;
    --fw-medium: 500;
    --fw-black: 900;

    /* Size */
    --hero-max-width: 19.0625rem;
    --radius-btn: 29px;
    --radius-img: 12px;
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

/* body */
body {
    font-family: var(--font-primary);
    color: var(--color-slate-900);
    background-color: var(--color-white);
}

h1 {
    color: var(--color-slate-900);
    font-size: var(--fs-h1);
    line-height: var(--lh-heading);
    font-weight: var(--fw-black);
}

h2 {
    color: var(--color-slate-900);
    font-size: var(--fs-h2);
    line-height: var(--lh-heading);
    font-weight: var(--fw-black);
}

p {
    color: var(--color-slate-600);
    font-size: var(--fs-body);
    line-height: var(--lh-body);
    font-weight: var(--fw-medium);
}

/* Header */
header {
    padding: 3rem 5rem 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;

    .logo {
        max-width: 100%;
    }
}

/* Hero-img */
.hero-img {
    display: flex;
    justify-content: center;
    gap: 1.0625rem;
}

/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem 2rem 2rem;
    text-align: center;

    .hero-container {
        max-width: var(--hero-max-width);
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .hero-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
        }
    }
}

/* Button */
.box-button {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.0625rem;

    li {
        border-radius: var(--radius-btn);

        a {
            color: var(--color-white);
            font-size: var(--fs-base);
            line-height: var(--lh-body);
            text-decoration: none;
            font-weight: var(--fw-black);
            display: flex;
            gap: 0.25rem;
            padding: 1rem 2.5rem;
            border-radius: var(--radius-btn);

            span {
                color: var(--color-cyan-300);
            }
        }
    }

    .button-left {
        background-color: var(--color-cyan-600);

        &:hover {
            background-color: var(--color-cyan-hover);
        }

        a:focus {
            background-color: var(--color-cyan-hover);
        }

    }

    .button-right {
        background-color: var(--color-purple-600);

        &:hover {
            background-color: var(--color-purple-hover);
        }

        a:focus {
            background-color: var(--color-purple-hover);
        }

    }
}

/* Number */
.container-number {
    display: flex;
    flex-direction: column;
    align-items: center;


    .line-number {
        background-color: var(--color-slate-300);
        width: 1px;
        height: 80px;
    }

    .box-number {
        background-color: var(--color-white);
        border: 1px solid var(--color-slate-300);
        margin: auto;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        .number {
            font-weight: var(--fw-black);
        }
    }
}


/* Features */
.features-container {
    padding: 2rem 2rem 4rem 2rem;
    text-align: center;

    .features {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .features-img {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            img {
                width: 100%;
                border-radius: var(--radius-img);
            }
        }

        .features-content {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .label {
                color: var(--color-cyan-600);
                font-size: var(--fs-label);
                line-height: var(--lh-heading);
                letter-spacing: var(--ls-label);
                font-weight: var(--fw-black);
            }

            .features-heading {
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
        }
    }
}

/* CTA */
footer {


    .cta::before {
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: var(--color-cyan-600);
        opacity: 0.9;
    }

    .copy {
        background-color: var(--color-purple-600);
        color: var(--color-white);
        font-weight: var(--fw-medium);
        text-align: center;
        padding: 1rem 0;
    }

}

.cta {
    position: relative;
    background-image: url(/assets/mobile/image-footer.jpg);
    background-size: cover;
    margin-top: -1.75rem;
    padding: 4rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;

    h2 {
        color: var(--color-white);
        z-index: 1;
    }

    p {
        color: var(--color-white);
        font-weight: var(--fw-medium);
        z-index: 1;
    }

    .button-cta {
        width: 12.0625rem;
        margin: auto;
        background-color: var(--color-purple-600);
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: var(--radius-btn);

        &:hover {
            background-color: var(--color-purple-hover);
            cursor: pointer;
        }

        a {
            color: var(--color-white);
            font-size: var(--fs-base);
            line-height: var(--lh-body);
            text-decoration: none;
            font-weight: var(--fw-black);
            display: flex;
            gap: 0.25rem;
            padding: 1rem 2.5rem;
            border-radius: var(--radius-btn);

            &:focus {
                background-color: var(--color-purple-hover);
            }


            span {
                color: var(--color-purple-300);
            }
        }
    }
}

@media (min-width: $bp-tablet) {

    // styles tablette
    .hero {
        padding: 4rem 2rem;

        .hero-img {
            display: flex;
            gap: 2rem;

            img {
                width: 394px;
                height: 303px;
            }
        }

        .hero-container {
            max-width: 42.5rem;
            display: flex;
            gap: 4.5rem;


            .hero-content {
                width: 28.01875rem;
                margin: auto;
            }
        }


    }

    .features-container {
        padding: 3.5rem 2rem 4rem 2rem;

        .features {

            .features-img {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr;
                gap: 1.5rem;

                img {
                    width: 152px;
                    height: 160px;
                }
            }

            .features-content {
                max-width: 31.5rem;
                margin: auto;
            }
        }

    }

    .cta {
        background-image: url(/assets/tablet/image-footer.jpg);
    }
}

@media (min-width: $bp-desktop) {
    // styles desktop

    .hero {
        padding: 4rem 5rem;
        display: flex;
        flex-direction: row;



        .hero-container {
            max-width: 70rem;
            height: 100%;
            width: 100%;
            position: relative;
            gap: 1.5rem;

            .img-left {
                order: -1;
                position: absolute;
                left: -190px;
                top: 0;
            }

            .hero-content {
                order: 2;
            }

            .img-right {
                order: 3;
                position: absolute;
                right: -190px;
                bottom: 0;
            }
        }
    }


    .features-container {
        padding: 3.5rem 5rem 4.5rem 5rem;

        .features {
            align-items: center;

            .features-img {
                max-width: 70rem;

                img {
                    width: 256px;
                    height: 256px;
                }
            }
        }
    }
}